
<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4 col-md-6">
                <!-- BEGIN: Year Spending Component -->
                <app-year-spending [year]=2020></app-year-spending>
                <!-- END: Year Spending Component -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <!-- BEGIN: Year Spending Component -->
                <app-year-spending [year]=2021></app-year-spending>
                <!-- END: Year Spending Component -->
            </div><!-- col-md-4 -->

        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
